{% extends 'base.html' %}
{% load static %}
{% block title %}
Update
{% endblock %}
<br>
<br>
{% block content %}

<div class="update-page">
    <h1 class="update-title" style="position: relative; text-align: center;"> Update </h1>
    
    <form class="create-form" action="{%url 'update' single_product.val.product_id%}?owner_id={{single_product.val.user_id}}" method='POST' enctype="multipart/form-data">
        <img src="{{single_product.val.product_image}}" width="150" height="150" style="margin-left:17.5%;margin-top:20px;">
        {% csrf_token %}
        <div class='update-form' style="align-content:center;">
            {{update_form}}
        </div>
        <br>
        <input type='hidden' name = 'owner_id' value="{{single_product.val.user_id}}">
        <label for='pro_image' class="form-label">Change Image:</label>
        <input style='width:400px;' class='form-control' type='file' name='pro_image' >
        <br>
        <div class='updatebtndiv'>
            <input class="updatebtn" type="submit" value="Change">
        </div>
    </form>
</div>
{% endblock %}